@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap");
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Titillium Web", sans-serif;
   text-transform: capitalize;
}

:root {
   --primary-color: #35393c;
   --secondary-color: #d6d0c9;
   --accent-color: #e2856e;
   --other-color: #88a2aa;
   --fifth-color: #4a4238;
}

.main-container {
   height: 100vh;
   width: 100vw;
   background-color: var(--primary-color);
   display: grid;
   place-items: center;
}

h2 {
   padding: 1rem;
   color: var(--fifth-color);
   text-align: center;
}

form {
   background-color: var(--secondary-color);
   display: flex;
   flex-direction: column;
   border-radius: 1rem;
   box-shadow: 5px 5px 10px 2px rgb(23, 23, 23);
   padding: 0 0.5rem;
}

.show-password,
button,
h3 {
   width: 95%;
   margin: auto;
   border-radius: 1rem;
   border: 1px solid var(--secondary-color);
   outline: none;
   padding: 0.5rem 0;
}
.show-password {
   border: var(--secondary-color) 1px solid;
   font-size: 1.5em;
   color: var(--secondary-color);
   background-color: var(--primary-color);
   text-align: center;
   display: flex;
   height: max-content;
}
.show-password > div {
   width: 85%;
   margin: auto;
   font-size: 1.2rem;
}
.show-password > button {
   border: none;
   background-color: var(--accent-color);
   color: var(--fifth-color);
   height: auto;
   width: max-content;
   margin: auto 5px;
}
button {
   background-color: var(--other-color);
   color: var(--fifth-color);
   font-size: 1.2rem;
}
.show-password > button:hover {
   background-color: var(--other-color);
   color: var(--fifth-color);
   cursor: pointer;
}

#passwordField {
   padding: 0 1rem;
   inline-size: 18rem;
   word-break: break-all;
}
.generate,
.generatePass {
   padding: 1rem 0;
   margin: 0.5rem auto;
}
.generate:hover,
.generatePass:hover {
   color: var(--secondary-color);
   background-color: var(--fifth-color);
   cursor: pointer;
}

.pass-length {
   width: 85%;
   padding: 0.5rem 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--fifth-color);
   margin: 0 auto;
}
.pass-length > input {
   width: 4rem;
   text-align: center;
   height: 2.5rem;
   border-radius: 5px;
   border-style: hidden;
   color: var(--secondary-color);
   background-color: var(--primary-color);
   font-size: 1.2rem;
}

.length {
   color: var(--other-color);
}

.clipboard svg {
   width: 3rem;
   height: 1rem;
}
